
body {
  margin: 0;
}
.nav-bar{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.left-side-heading{
   font-size: 25px;
   margin-left: 20px;
}
.left-heading-color{
   color: #BB98C6;
}
.nav-bar-center{
  list-style: none;
  display: flex;
  font-size: 12px;
}
.nav-bar-center li{
   padding: 30px 25px;
}
a {
   text-decoration: none;
   color: #000000; 
   font-size: 12px;
}
a:hover{
    color: rgb(102, 101, 101);
}
.Rigth-side-button{
    padding: 18px 60px;
    margin-right: 20px;
    background-color: #BB98C6;
    color: #ffffff;
    border: none;
}
.Rigth-side-button:hover{
    background-color: #000000;
    color: #ffffff;
}
#section-0{
    background-image: url(/PlannltCool-Project/Assets/revolustion-background-image.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    height: 750px;
}
.main-heading{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 70px;
    text-align: center;

}
.flower-left{
  width: 130px;
  margin-top: -160px;
  margin-left: 20px;
}
.img-slide{
    width: 900px;
    height: 600px;
    margin-left: 220px;
    margin-top: 100px;
}
#section-1{
    margin-top: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.content-1 p{
    font-size: 18px;
    color: rgb(143, 142, 142);
    line-height: 1.5;
    font-weight: 400;
}
#section-2{
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Roboto", sans-serif;
}
.section2-left-image{
    width: 500px;
}
.pic-left{
    float: left;
    margin-left: 170px;
    margin-right: 40px;
}
/* .pic-left-inner-card{
    background-color:#E9EEF5;
    padding: 10px 20px;
    margin: 20px 30px;
}
.card-01{
    font-size: 14px;
    font-weight: 400;
}
.inner-heading{
    font-size: 30px;
    font-weight: 400;
}
.para-01{
    font-size: 14px;
    font-weight: 200;
    color: rgb(109, 107, 107);
    margin-top: -20px;
} */
.section2-rigth-image{
    width: 500px;
    margin-bottom: 35px;
}
.section2-rigth2-image{
    width: 500px;
}
#section-3{
  padding-top: 50px;
}
.content-3{
    text-align: center;
}
.center-heading{
    font-family: "Playfair Display SC", serif;
    font-size: 70px;
    font-weight: 100;
    color: #3f3f3f;
    margin-bottom: 10px;
}
.para-02{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(143, 142, 142);
   line-height: 1.5;
   font-weight: 400; 
}
.three-cards-01{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
}
.card-04{
   margin-top: 50px;
   margin-bottom: 50px; 
}
.three-cards-02{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif; 
}
.card-heading{
    font-size: 25px;
    font-weight: 400;
}
.card-para{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(143, 142, 142);
    margin-top: -20px;
}
.card-05{
    margin-bottom: 50px;
}
#section-4{
    background-image: url(/PlannltCool-Project/Assets/section-background-1-1536x492.jpg);
    margin-top: 670px;
    height: 452px;
    margin-bottom: 100px;
}
.section-4-bg-img{
    position: absolute;
    width: 1150px;
    margin-left: 110px;
    height: 880px;
    margin-top: -550px;
}
.section-4-top-img{
    position: absolute;
    margin-left: 570px;
    margin-top: -175px;
}
#section-5{
   font-family: "Roboto", sans-serif; 
   margin-bottom: 100px;  
}
.content-5{
    text-align: center;
    margin-top: 150px;
}
.center-heading-01{
    font-family: "Playfair Display SC", serif;
    font-size: 70px;
    font-weight: 100;
    color: #3f3f3f;
    margin-bottom: 10px;    
}
.para-03{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(143, 142, 142);
   line-height: 1.5;
   font-weight: 400; 
}
.three-cards-03{
   display: flex;
   justify-content: center;
   font-family: "Roboto", sans-serif; 
   margin-top: 50px;
   margin-left: 50px;
}
.card-06{
    margin-right: 30px;    
}
.section-5-img{
    width: 350px;
}
.card-heading-05{
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}
.card-heading-05:hover{
    color: #BB98C6;
}
.num-00{
   font-size: 15px;
   font-weight: 400;
   color: #000000; 
}
.line-05{
   background-color: rgb(143, 142, 142); 
   margin-top: -10px; 
}
.card-para-05{
   color:rgb(143, 142, 142);
   text-align: left;
   font-size: 12px;
   letter-spacing: 2.0px;   
}
#section-6{
   font-family: "Roboto", sans-serif; 
   padding-top: 50px; 
}
.left-side{
   float: left;
   margin-left: 100px;
   margin-right: 50px; 
}
.left-heading{
   font-family: "Playfair Display SC", serif;
   font-size: 70px;
   font-weight: 100;
   color: #3f3f3f;
   margin-bottom: 10px;
}
.sec-para-06{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(143, 142, 142);
   line-height: 1.5;
   font-weight: 400;  
}
.button-06-left{
    padding: 20px 50px;
    background-color: #BB98C6;
    color: #ffffff;
    border: none;
    padding-top: 20px;
    letter-spacing: 2.0px;
}
.button-06-left:hover{
    background-color: #000000;
    color: #ffffff;
}
.card-07{
    display: flex;
    justify-content: space-around;
    margin-right: 150px;    
}
.card-07-2{
    display: flex;
    justify-content: space-around;
    margin-right: 150px; 
    background-color: #E9EEF5;
}
.word-00{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2.0px;
    color: rgb(100, 99, 99);     
}
.card-heading-06{
    font-family: "Playfair Display SC", serif; 
    font-size: 70px;
    font-weight: 200; 
}
.para-06{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(143, 142, 142);
   line-height: 1.5;
   font-weight: 400; 
   padding-top: 80px;
}
.button-06-rigth{
    padding: 20px 50px;
    background-color: #BB98C6;
    color: #ffffff;
    border: none;
    margin: 120px 0px;
    letter-spacing: 2.0px; 
}
.button-06-rigth:hover{
    background-color: #000000;
    color: #ffffff; 
}
#section-7{
    background-color: #E9EEF5;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-7{
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.slides-wrapper {
    display: flex;
    width: 300%; 
    animation: autoSlide 15s infinite ease-in-out; 
}
.slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-left: 100px;
    margin-right: 150px;
}
.left-section {
    flex-basis: 200px;
    text-align: right;
    padding-right: 30px;
}

.left-section h1 {
    font-size: 60px;
    font-weight: 300;
    color: #2c2c2c;
    margin: 0;
    text-align: left;
    line-height: 1.1;
    font-family: "Playfair Display SC", serif;
}
.image-section img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 30px;
}
.text-section {
    flex-basis: 100%;
    max-width: 400px;
}
.count-slide{
    letter-spacing: 2.5px;
    font-size: 12px;
    margin-bottom: 10px;
}
.testimonial-text {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
  
}
.client-name {
    color: #BB98C6;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
}
@keyframes autoSlide {
    0%, 30% { transform: translateX(0%); }       
    33%, 63% { transform: translateX(-33.33%); } 
    66%, 96% { transform: translateX(-66.66%); } 
    100% { transform: translateX(0%); }          
}
#section-8{
  background-image:url(/PlannltCool-Project/Assets/parallax-image.jpg);
  background-attachment: fixed; /* Keeps both the overlay and image static */
  background-size: cover;       /* Ensures the image fills the container */
  background-position: center; 
  width: 1350px;
  height: 600px; 
  margin-top: -50px;              
}
.overlay-heading{
   font-family: "Playfair Display SC", serif;
   font-size: 60px;
   font-weight: 200;
   color: #ffffff;
   text-align: center;
   padding-top: 250px; 
}
#section-9{
    background-color: #ffffff;
    padding-top: 100px;
}
.content-9{
    text-align: center;
}
.sec-9-heading{
   font-family: "Playfair Display SC", serif;
   font-size: 70px;
   font-weight: 100;
   color: #3f3f3f;
   margin-bottom: 10px;
}
.sec-9-para{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(143, 142, 142);
   line-height: 1.5;
   font-weight: 400; 
   padding-bottom: 50px; 
}
.sec-9-cards{
    display: flex;
    padding-left: 140px;
}
.card-09{
    margin-right: 30px;
}
.c9-img{
    width: 350px;
}
.c9-heading{
    font-size: 24px;
    font-weight: 200;
    color: #242323;
    font-family: "Roboto", sans-serif;
}
.c9-para{
    font-size: 18px;
    color: #979595;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}
.icon{
    font-size: 24px;
    color: #666;
    letter-spacing: 3.0px;
}
.icon:hover{
    font-size: 24px;
    color: #BB98C6;
}
#section-10{
    background-image: url(/PlannltCool-Project/Assets/section-background-2-1536x674.jpg);
   margin-top: 100px;
}
.content-10{
    padding-top: 100px;
    padding-left: 150px;
    padding-bottom: 100px;
}
.sec10-left-heading{
   font-family: "Playfair Display SC", serif;
   font-size: 70px;
   font-weight: 100;
   color: #3f3f3f;
   margin-bottom: 10px;
}
.sec-10-para{
   font-size: 18px;
    color: #979595;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;  
}
.button-10{
    padding: 20px 50px;
    background-color: #BB98C6;
    color: #ffffff;
    border: none;
    padding-top: 20px;
    letter-spacing: 2.0px;
}
.button-10:hover{
    background-color: #000000;
    color: #ffffff;
}
.sec-10-img{
    float: right;
    width: 555px;
    margin-right: 40px;
    margin-top: -410px;
}
.sec-10-left{
    margin-top: -50px;
}
.guide-cards{
    float: right;
    display: flex;
    margin-right: 25px;
    margin-top: -310px;
}
.guide-card{
    text-align: center;
    background-color: #E6E7EB;
    margin-right: 10px;
    padding: 0px 15px;
}
.cr-para{
    font-family: "Playfair Display SC", serif;
    font-size: 20px;
    font-weight: 100;
    color: #3f3f3f;
}
.crd-p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #979595; 
}

/* footer-sec*/
#footer{
    background-color: #E9EEF5;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 100px;
}
.foot-card-1{
   float: left; 
   margin-right: 50px;
}
.foot-heading{
   font-size: 26px;
   font-weight: 300;
   font-family: "Open Sans", sans-serif; 
}
.foot-para{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(168, 164, 164); 
   line-height: 1.5;
   font-weight: 400; 
}
.foot-heading-0{
   font-size: 12px;
   font-weight:bold;
}
.foot-para-0{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(168, 164, 164); 
}
.foot-para-0 a{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(168, 164, 164); 
}
.word-hover-1:hover{
   color: #000000;
}
.word-hover-2:hover{
   color: #000000;
}
.word-hover-3:hover{
   color: #000000;
}
.foot-heading-1{
   padding-top: 45px;
   font-size: 12px;
   font-weight: 600;
   color: #3f3f3f;
}
.foot-para-1 {
   font-size: 20px;
   color: rgb(168, 164, 164); 
   margin-top: -8px;
}
.foot-para-1 a{
   font-size: 20px;
   color: rgb(168, 164, 164); 
   margin-top: -8px;
}
.foot-para-1:hover{
  color: #000000;
}
.word-hover-4:hover{
  color: #000000;
}
.foot-para-2{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(168, 164, 164); 
  line-height: 1.5; 
  margin-top: -0px; 
  margin-right: 50px;
}
.foot-para-2 a{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(168, 164, 164); 
  line-height: 1.5; 
  margin-top: -0px; 
  margin-right: 50px;
}
.foot-card-2-2{
   padding-left: 57px;
}
.foot-card-2-2:hover{
   color: #000000;
}
.foot-card-3{
  float: right;
  margin-right: 430px;
  margin-top:-317px ;
}
.foot-heading-2{
   padding-top: 45px;
   font-size: 12px;
   font-weight: 600;
   color: #3f3f3f;
}
.foot-para-3{
  font-size: 12px;
  color:rgb(168, 164, 164);
  letter-spacing: 0.5px;
}
.foot-para-3 a{
  font-size: 12px;
  color:rgb(168, 164, 164);
}
