* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.head {
  display: flex;
  background-color: white;
  margin-top: -10px;
}
.head11 {
  display: flex;
  font-size: 10px;
  margin-left: 75px;
  font-family: sans-serif, poppins;
  line-height: 33px;
  font-weight: bold;
  color: rgb(50, 46, 67);
  letter-spacing: 1.5px;
}
.head2 {
  margin-top: -10px;
}
.icons {
  margin-top: -32px;
  margin-left: 165px;
  font-family: sans-serif, poppins;
  font-size: 12px;
  line-height: 33px;
}
.fa-facebook-f {
  color: rgb(50, 46, 67);
  text-decoration: none;
}
.fa-facebook-f:hover {
  color: #a4a4d7;
}
.fa-twitter {
  color: rgb(50, 46, 67);
  text-decoration: none;
  margin-left: 22px;
}
.fa-twitter:hover {
  color: #a4a4d7;
}
.fa-instagram {
  color: rgb(50, 46, 67);
  text-decoration: none;
  margin-left: 22px;
}
.fa-instagram:hover {
  color: #a4a4d7;
}
ul {
  display: flex;
  list-style: none;
  color: rgb(50, 46, 67);
  margin-left: 650px;
  font-size: 10px;
  font-family: sans-serif, poppins;
  gap: 22px;
  line-height: 33px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
li a {
  text-decoration: none;
  color: rgb(50, 46, 67);
}
li a:hover {
  color: #ff7182;
}
.line {
  border: none;
  height: 0.06px;
  background-color: #f3f1f1;
  margin-top: -10px;
}
.headd {
  margin-top: 20px;
  padding-bottom: 5px;
}
.headd img {
  margin-left: 75px;
}
.list1 {
  display: flex;
  list-style: none;
  color: rgb(50, 46, 67);
  margin-left: 652px;
  font-size: 12px;
  font-family: sans-serif, poppins;
  gap: 24px;
  line-height: 33px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: -40px;
}
.lis a {
  text-decoration: none;
  color: #858390;
}
.lis a:hover {
  color: rgb(50, 46, 67);
}
.lis a:active {
  color: rgb(50, 46, 67);
}
.img-box {
  position: relative;
  width: 100%;
}

.img-box img {
  width: 100%;
  display: block;
  height: 450px;
}

.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(50, 46, 67);
  text-align: center;
}
.texts h1 {
  font-size: 50px;
  line-height: 60px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.texts p {
  font-size: 19px;
  line-height: 32px;
  font-family: sans-serif;
  color: rgb(117, 117, 117);
  letter-spacing: 1px;
  margin-top: -25px;
}
.about2 {
  display: flex;
  width: 100%;
  position: absolute;
  margin-top: -1400px;
}
.content h2 {
  margin-top: 120px;
  margin-left: 75px;
  font-size: 40px;
  line-height: 50px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: rgb(50, 46, 67);
}
.content p {
  margin-left: 75px;
  font-size: 19px;
  line-height: 34px;
  font-family: sans-serif;
  letter-spacing: 0px;
  color: rgb(117, 117, 117);
}
.btn {
  margin-left: 75px;
  padding: 25px 40px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  background-color: #737bfa;
  margin-top: 10px;
}
.btn:hover {
  background-color: #ff7182;
}
.img-right img {
  height: 357.8px;
  width: 520px;
  margin-left: 200px;
  margin-top: 120px;
}
.img-bg {
  padding-top: 100px;
  width: 100%;
  position: relative;
}
.abo-text {
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: -790px;
}
.abo-head {
  margin-left: 75px;
  font-size: 55px;
  line-height: 60px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: rgb(50, 46, 67);
}
.abo-para {
  color: rgb(117, 117, 117);
  font-size: 19px;
  line-height: 34px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  margin-top: -20px;
}
.img-row {
  display: flex;
  gap: 50px;
  position: absolute;
  margin-top: -470px;
  margin-left: 120px;
}

.img-row img {
  flex: 1;
  height: 220px;
  object-fit: contain;
}
.img-change {
  margin-top: -30px;
}
.small-head {
  display: flex;
  gap: 60px;
  position: absolute;
  margin-top: -230px;
  margin-left: 100px;
  font-size: 22px;
  font-family: sans-serif;
  color: rgb(50, 46, 67);
  letter-spacing: 1px;
  line-height: 30px;
}
.small-para {
  display: flex;
  gap: 90px;
  position: absolute;
  margin-top: -180px;
  margin-left: 100px;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(117, 117, 117);
  letter-spacing: 0.5px;
  line-height: 30px;
}
.change-head {
  margin-top: -10px;
  margin-left: -20px;
}
.change-para {
  margin-top: -10px;
  margin-left: 10px;
}
.change1 {
  margin-left: 10px;
}
.change2 {
  margin-left: -40px;
}
.change21 {
  margin-left: 10px;
}

/* footer */

.foot {
  background-color: #0c0820;
  height: 550px;
}
.foot-head {
  display: flex;
  color: #ffffff;
  font-size: 22px;
  font-family: sans-serif;
  line-height: 30px;
  font-weight: bold;
  margin-left: 100px;
  padding-top: 100px;
  gap: 130px;
}
.foot-img {
  height: 40px;
  margin-top: 20px;
}
.hc {
  margin-left: 24px;
}
.foot-para {
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 30px;
  margin-left: 100px;
  gap: 30px;
  margin-top: -20px;
  font-weight: 500;
}
.par {
  margin-left: 60px;
}
.linked {
  margin-left: 20px;
}
.linked a {
  color: white;
  text-decoration: none;
}
.linked a:hover {
  color: #33314b;
}
.gmaps a {
  text-decoration: underline;
}
.par1 {
  margin-left: 114px;
}
.headc {
  color: #33314b;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  margin-top: 15px;
}
.headp {
  font-size: 16px;
  font-family: sans-serif;
  margin-top: -20px;
}
.h-line {
  border: none;
  height: 0.1px;
  background-color: #78777e;
  margin-top: 120px;
  margin-left: 150px;
  margin-right: 150px;
}
.copyrights {
  color: #78777e;
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 16px; 
}
.copyrights a {
  color: #78777e;
  text-decoration: none;
}
.copyrights a:hover {
  color: white;
}
.a-align {
  margin-top: -40px;
  font-size: 20px;
}
.a-align .fa-facebook-f {
  color: white;
}
.a-align .fa-facebook-f:hover {
  color: #858390;
}
.a-align .fa-linkedin-in {
  color: white;
  margin-left: 30px;
}
.a-align .fa-linkedin-in:hover {
  color: #858390;
}
.a-align .fa-pinterest {
  color: white;
  margin-left: 30px;
}
.a-align .fa-pinterest:hover {
  color: #858390;
}
.btn1{
    padding: 25px 45px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  background-color: #737bfa;
}
.btn1:hover{
  background-color: #ff7182;
}