body{
    background-image: url("Assets/bgimage.png");
    font-family: system-ui, Helvetica, Arial, sans-serif;
}
.main{
    display: flex;
    
}
.logo{
    background-color: #5c5a5a;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 50px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-left: 360px;
  margin-top: 50px;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
}
.btn {
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
     background: #00b074;
     border: none;
     border-radius: 5px;
}
.one{
    color: orangered;
}
.heading{
     margin-top: 150px;
     margin-left: 50px;
    font-size: 30px;
    font-weight:bold;
    color: #FFF;
    line-height: 0.5;
}
.heading h1{
    margin-top: 80px;
}
.line{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 1100px;
    border: none;
    height: 5.5px;
    background-color: #FFF;

}
p{
    font-size: 18px;
    color: #FFF;
    line-height: 1.8;
    margin-left: 50px;
    margin-top: 80px;

}
.btns{
    margin-left: 60px;
    margin-top: 50px;
}
.btns .button1{
   padding: 15px 30px;
   margin-right: 20px;
   background-color: #00b074;
   color: #FFF;
   font-weight: 600;
   border: none;
   border-radius: 5px;
}
.btns .button2{
    padding: 15px 30px;
   background-color: orangered;
   color: #FFF;
   font-weight: 600;
   border: none;
   border-radius: 5px;
}