body{
    font-family:  "Marcellus", "Roboto", sans-serif;
   
}

.head-cont {
       background-color: #b8b6b6c0;
       z-index: 1;

}

.logo a {
    margin-left: -100px;
    font-size: 40px;
    letter-spacing: 2px;
}

.tabs li a {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.65);
    display: block;
}

.wishlist {
    display: flex;
}
.justify-content-center{
    text-align: center;
}
.card{
    border: none;
}
.card-body{
    text-align: left;
    padding: 25px 0px;
    background-color: rgb(241 241 240);

}
.content{
    background-color: rgb(241 241 240);
    padding: 30px ;
}
.content1{
    padding: 50px 0px ;
}
.card1{
    background-color: white;
}
.space{
    padding: 30px;
}
.i{
    align-items: center;
}
.content2{
    background-color: rgb(241 241 240);
    padding: 90px 0px;
}
.text{
    background-color: white;
}
.content3{
    padding: 70px;
}
.text1{
    padding: 20px 10px;

}
.content4{
    padding: 66px 0px;
}
.logos img {
    width: 150px;
    display: flex;
    gap: 30px;
}

.Sign button{
    width: 800px;  
    background-color: #111;
    color: white;
    font-size: 25px;  
}

.maily{
    width: 800px;  
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
        
}

.insta-image {
    display: flex; 
}

.p-2{
    width: 100%;
}
.logos-para{
    color: #8f8f8f;
 
}
.footer {
    display: flex;
}

.copy{
    margin-left: 350px;
    color: #8f8f8f;
}

.help{
    list-style: none;
    text-transform: uppercase;
}