
 body {
      font-family: Arial, sans-serif;
      margin: 0;
      background:rgb(16, 14, 44);
      color: #f8f6f6;
      
    }
    header {
        background: black;
        color: red;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav a {
      color: rgb(5, 238, 75);
      margin: 0 1rem;
      text-decoration: none;
    }
    .container {
      max-width: 1000px;
      margin: auto;
      padding: 2rem;
    }
    section {
      margin-bottom: 3rem;
    }
    h2 {
      border-bottom: 2px solid #d7fa0e;
      padding-bottom: 0.5rem;
    }
    img {
      max-width: 200px;
      border-radius: 8px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid maroon;
    }
    th, td {
      padding: 0.5rem;
      text-align: left;
    }
    progress, meter {
      width: 100%;
    }
    figure {
      margin: 1rem 0;
    }
    figcaption {
      text-align: center;
      font-style: italic;
    }
    form input, form textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    form button {
      padding: 0.5rem 1rem;
      
    }
    article {
      background: rgb(58, 64, 68);
      padding: 1rem;
      margin-bottom: 1rem;
    }
    aside {
      background: maroon;
      padding: 1rem;
      margin-bottom: 1rem;
    }
    footer {
      background: #222;
      color: rgb(214, 116, 253);
      text-align: center;
      padding: 1rem;
    }