
body{
    font-family: Verdana,Tahoma, sans-serif;
}
header{
    display: flex;
    background-color: #470477;
}
.logo {
    display: flex;
    width: 70px;
    position: relative;
    margin-left: 100px;

}
.heading{
    background-color: #470477;
    position: absolute;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 160px;

}
.nav1{
    display: inline-flex;
    color: #ffffff;
    margin-top: 40px;
    margin-left: 240px;
    font-size: 18px;
    letter-spacing: 0.2px;
    
}
li{
    list-style: none;
    margin-left: 20px;
}
.btn1{
    background-color: #470477;
    font-size: 17px;
    color: #ffffff;
    border-radius: 28px;
    border: 2px solid orangered;
    margin: 30px 0px 0px 80px ;
    padding: 0px 30px;    
}
#main{
    margin-top: -41px;
    padding-top: 120px;
    background-color: #470477;
    
}
.main1{
    margin-left: 100px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    line-height: 90px;
}
 .main1 p{
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    margin-top: -20px;
    
}
.btn2{
    font-size: 17px;
    border-radius: 28px;
    background-color: rgb(219, 85, 36);
    padding: 15px 30px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}
.img2 img{
    width: 400px;
    display: flex;
    margin-left: 850px;
    margin-top: -350px;
}
.stocks {
  background: #1a0636;
  padding: 100px 60px;
  color: white;
}
.stocks h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}


.stocks table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(249, 241, 241);
  font-size: 15px;
}
.stocks thead {
  color: #f8f8f8;
  font-size: 14px;
}
.stocks th,
td {
  padding: 14px 10px;
  text-align: left;
  border-bottom: 1px solid #daceea;
}
.stocks td img {
  width: 95px;
}
.stocks .green {
  color: rgb(6, 214, 6);
}
.stocks .red {
  color: red;
}

.stocks .logo-small {
  width: 25px;
  margin-right: 8px;
  padding: 10px;
  vertical-align: middle;
  border-radius: 50%;
}

.stocks .volume {
    font-size: 10px;
    font-weight: bold;
    margin-left: 60px;
    color: darkgray;
}

.stocks small{
       font-size: 10px;
    font-weight: bold;
      color: darkgray;
}

.stocks .icon {
    width: 40px;
    height: 40px;
    background: #c7c7c7;   
    border-radius: 50%;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #2c1a74;       
    font-weight: 600;
    font-style: italic;
   
}
#main3{
    background-color: rgb(248, 240, 248);
      padding: 70px 60px;

}

.plot-head{
    text-align: center;
    font-size: 24px;
    color: #000000;
    margin-top: 0px;
}

.platform-col{
    display: flex;
    text-align: center;
}

.p-2{
    padding: 40px;
    line-height: 2.0;
    text-align: left;
}
.platform-col p{
    text-align: left;
    color: #000000;
}
.platform-col img{
   width: 120px;
   height: 90px;
   font-size: 40px;
   margin-left: -30px;
   text-align: left;
   
}
#main4{
  background-color: #1a0636;
  height: 700px;
  padding-top: 1px;
}
#main4 h1{
  font-size: 34px;
  color: #ffffff;
  line-height: 1.5;
  padding-left: 100px;
  padding-top: 200px;
}
#main4 p{
  font-size: 14px;
  color: #ffffff;
  line-height: 2.0;
  padding-left: 100px;
}
.img6{
  width: 600px;
    display: flex;
    margin-left: 650px;
    margin-top: -400px;
    position:absolute;
 
}
.img4{
  width: 200px;
  border-radius: 8px;
  padding-left: 100px;
}
.img5{
  width: 200px;
  border-radius: 6px;
  padding-left: 40px;
}
#main5{
  background-color: #faf0f0;
  height: 700px;
  padding-top: 1px;
}
#main5 h1{
  font-size: 34px;
  color: #000000;
  text-align: center;
  padding-top: 70px;
}
.cards{
  display: flex;
  width: 350px;
  height: 400px;
 background-color: #ffffff;
  margin-left: 100px;
  border-radius: 8px;
  gap: 50px;
 
}
.card1,.card2,.card3{
  background-color: #ffffff;
  border-radius: 5px;
}
.img7{
  width: 350px;
}
.img8{
  width: 350px;
  background-color: #ffffff;
  border-radius: 5px;
}
.img9{
  width: 350px;
}
#main5 h3{
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  font-weight: 600;
  padding-left: 5px;
}
#main5 p{
  font-size: 14px;
  color: #a7a3a3;
  font-weight: 200;
  line-height: 1.4;
  padding-left: 10px;
}
#main5 ul{
  display: flex;
  padding-left: 1px; 
  line-height: 2.9; 
}
#main5 li{
  font-size: 11px;
  color: #a7a3a3;
  font-weight: 200;
}
#main6{
  background-color:#1a0636;
  height: 500px;
  padding-top: 2px;
}
#main6 h1{
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
  
}
#main6 p{
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 0.2px;
}
.btn3{
  padding: 25px 374px;
  margin-left: 391px;
  border-radius: 38px;
  word-spacing: 2px;
  background-color: #1a0636;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  padding-left: revert;

}
.btn4{
  margin-left: -140px;
  padding: 22px 30px;
  border-radius: 44px;
  background-color: rgb(219, 85, 36);
  color: #ffffff;
  border: none;
  font-size: 16px;
}

#footer {
  background-color: #470477;
  padding: 40px 0;
  text-align: center;
  color: white;
  height: 450px;
}
.footer-table2 {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
  border: none; 
}
.footer-th2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 12px;
  text-align: left;
  border: none; 
}
.footer-td2 {
  font-size: 16px;
  font-weight: 100;
  color: white;
  padding: 10px;
  line-height: 2.0;
  text-align: left;
  border: none; 
}
.footer-tr2 {
  border: none; 
}
.line{
  margin: 60px;
  margin-top: 40px;
}
.icons{
  display: flex;
   margin-left: 600px;
  margin-top: -60px;
}
.end{
  display: flex;
}
.end p{
  margin-left: 70px;
 margin-top: -20px;
}
.icons a{
  text-decoration: none;
  color: #a7a3a3;
}
#tw{
  background-color: rgb(219, 85, 36);
  color: #ffffff;
  border-radius: 10px;
  font-size: 23px;
  height: 40px;
  width: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
  margin-left: 10px;
   border: 2px solid rgb(219, 85, 36);
}
#fb{
  color: #a7a3a3;
  border-radius: 10px;
  font-size: 23px;
  height: 40px;
  width: 50px;
  align-items: center;
  padding-top: 15px;
  margin-top: 30px;
  border: 2px solid #a7a3a3;
}
#lin{
  color: #a7a3a3;
  border-radius: 10px;
  font-size: 23px;
  height: 40px;
  width: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
   margin-left: 10px;
  border: 2px solid #a7a3a3; 
}
#inst{
  color: #a7a3a3;
  border-radius: 10px;
  font-size: 23px;
  height: 40px;
  width: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
   margin-left: 10px;
  border: 2px solid #a7a3a3;
}