body{
  background:linear-gradient(180deg,#0a0f1c,#000);
  color:#fff;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}
.nav-bar{
  background-color: gray;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.nav-bar-center{
  list-style: none;
  display: flex;
  font-size: 12px;
}
.nav-bar-center li{
   padding: 30px 290px;
   background-color: orange;
}
a {
   text-decoration: none;
   color: #8f3232;
   font-weight: 600; 
   font-size: 18px;
}
a:hover{
  color: #243b55;
}

.nav-heading{
  height:250px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(120deg,#141e30,#243b55);
  text-align:center;
}

.nav-heading-center{
  font-size:64px;
  letter-spacing:4px;
}

.nav-para-center{
  margin-top:12px;
  font-size:22px;
  color:#ffcc00;
}
.compare{
  padding:90px 10%;
}

.row{
  display:flex;
  align-items:center;
  gap:60px;
  margin-bottom:140px;
}

.row.reverse{
  flex-direction:row-reverse;
}
.slider{
  width:520px;
  height:340px;
  overflow:hidden;
  border-radius:25px;
  box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

.slides{
  display:flex;
  width:300%;
  height:100%;
  animation:slide 25s infinite linear;
}

.slides img{
  width:100%;
  height:100%;
  object-fit:cover;
}
@keyframes slide{
  0%{transform:translateX(0);}
  30%{transform:translateX(-100%);}
  60%{transform:translateX(-200%);}
  90%{transform:translateX(-300%);}
  100%{transform:translateX(100);}
}
.content{
  max-width:560px;
}
.badge{
  display:inline-block;
  padding:6px 16px;
  background:#ff2e2e;
  border-radius:20px;
  font-size:14px;
  margin-bottom:12px;
}

.content h2{
  font-size:40px;
  margin-bottom:15px;
}

.content p{
  font-size:17px;
  line-height:1.8;
  color:#ccc;
}
.features{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:14px;
  margin-top:25px;
}

.features div{
  background:#111;
  padding:14px;
  border-radius:10px;
  font-size:15px;
}
.footer{ 
  text-align:center;
  padding:25px;
  background:grey;
}
.Copyright{
    color: #243b55;
    font-weight: 600;
    text-decoration: none;
}
.Copyright:hover{
    color:#ffcc00;
}