
body {
  margin: 0;
}
.nav-bar{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.left-side-heading{
   font-size: 25px;
   margin-left: 20px;
}
.left-heading-color{
   color: #BB98C6;
}
.nav-bar-center{
  list-style: none;
  display: flex;
  font-size: 12px;
}
.nav-bar-center li{
   padding: 30px 25px;
}
a {
   text-decoration: none;
   color: #000000; 
   font-size: 12px;
}
a:hover{
    color: rgb(102, 101, 101);
}
.Rigth-side-button{
    padding: 18px 60px;
    margin-right: 20px;
    background-color: #BB98C6;
    color: #ffffff;
    border: none;
}
.Rigth-side-button:hover{
    background-color: #000000;
    color: #ffffff;
}
#section-0{
    background-image: url(/PlannltCool-Project/Assets/revolustion-background-image.jpg);
    padding-top: 50px;
    padding-bottom: 100px;
    padding-bottom:400px ;
}
.content-0{
    text-align: center;
}
.section-0-heading{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 110px;
}
.section-0-para{
    font-size: 16px;
    color: rgb(143, 142, 142);
    line-height: 1.5;
    font-weight: 400;
    font-family: "Open Sans", sans-serif; 
    margin-top: -50px; 
}
.section-0-para-1{
    font-size: 16px;
    color: rgb(143, 142, 142);
    line-height: 1.5;
    font-weight: 400;
    font-family: "Open Sans", sans-serif; 
}
#section-1{
    font-family: "Roboto", sans-serif;
}
.content-1{
    margin-top: -200px;
    padding-bottom: 200px;
}
.wedding-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    max-width: 1100px;
    margin: 0 auto;
}
.image-card {
    position: relative; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-card img {
    width: 550px;
    height: 350px; 
    object-fit: cover; 
    display: block;
}

.popup-text {
    position: absolute;
    bottom: 30px; 
    left: 30px;
    right: 30px;
    background-color: #E9EEF5; 
    color: #333; 
    padding: 15px;
    text-align: left; 
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-card:hover .popup-text {
    opacity: 1; 
    transform: scale(1);
}

.popup-text h1 {
    display: block; 
    font-size: 22px;
    font-weight: 300;
}
.popup-text{
    padding: 20px;
    font-family: "Roboto", sans-serif;
}
p {
    font-size: 12px;
    font-weight: 200;
    color: #666;
    letter-spacing: 1.5px;
}
.num-00{
    font-size: 10px;
    color: #000000;
}
.cards{
    font-size: 12px;
    color: #000000;
}

/*footer-section*/
#footer{
    background-color: #E9EEF5;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-left: 100px;
}
.foot-card-1{
   float: left; 
   margin-right: 50px;
}
.foot-heading{
   font-size: 26px;
   font-weight: 300;
   font-family: "Open Sans", sans-serif; 
}
.foot-para{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(168, 164, 164); 
   line-height: 1.5;
   font-weight: 400; 
}
.foot-heading-0{
   font-size: 12px;
   font-weight:bold;
}
.foot-para-0{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(168, 164, 164); 
}
.foot-para-0 a{
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: rgb(168, 164, 164); 
}
.word-hover-1:hover{
   color: #000000;
}
.word-hover-2:hover{
   color: #000000;
}
.word-hover-3:hover{
   color: #000000;
}
.foot-heading-1{
   padding-top: 45px;
   font-size: 12px;
   font-weight: 600;
   color: #3f3f3f;
}
.foot-para-1 {
   font-size: 20px;
   color: rgb(168, 164, 164); 
   margin-top: -8px;
}
.foot-para-1 a{
   font-size: 20px;
   color: rgb(168, 164, 164); 
   margin-top: -8px;
}
.foot-para-1:hover{
  color: #000000;
}
.word-hover-4:hover{
  color: #000000;
}
.foot-para-2{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(168, 164, 164); 
  line-height: 1.5; 
  margin-top: -0px; 
  margin-right: 50px;
}
.foot-para-2 a{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(168, 164, 164); 
  line-height: 1.5; 
  margin-top: -0px; 
  margin-right: 50px;
}
.foot-card-2-2{
   padding-left: 57px;
}
.foot-card-2-2:hover{
   color: #000000;
}
.foot-card-3{
  float: right;
  margin-right: 370px;
  margin-top:-317px ;
}
.foot-heading-2{
   padding-top: 45px;
   font-size: 12px;
   font-weight: 600;
   color: #3f3f3f;
}
.foot-para-3{
  font-size: 12px;
  color:rgb(168, 164, 164);
  letter-spacing: 0.5px;
}
.foot-para-3 a{
  font-size: 12px;
  color:rgb(168, 164, 164);
}
