
.body{
    font-family: "Open Sans", sans-serif;
}

.container-2 {
  max-width: 1200px;
  margin: 0px 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.nav-links-2 {
  list-style: none;
  display: flex;
  font-size: 12px;
}
.nav-links-2 li { margin-left: 20px; padding: 15px 6px;}
a { text-decoration: none; color: inherit; font-size: 20px; }

.container-1 {
  max-width: 1200px;
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.top-nav {
  background-color: #ffffff;
  margin: 5px 5px;
  border-bottom: 0.5px solid rgb(235, 233, 233);
}
.focolr{
    font-size: 11px;
}
.fa-facebook-f:hover{
    color: gainsboro;    
}
.fa-twitter:hover{
    color: gainsboro;
}
.fa-instagram:hover{
    color: gainsboro;
}
.colr:hover{
   color: #FB7081;
}
.colr-1:hover{
   color: #FB7081;  
}
.nav-links-1 {
  list-style: none;
  display: flex;
  font-size: 12px;
}
.nav-links-1 li { margin-left: 20px; padding: 0px 6px;}
a { text-decoration: none; color: inherit; font-size: 11px; }
.main-nav {
  background-color: #ffffff;
  padding-top: 20px;
}
.main-nav .logo { font-size: 34px; font-weight: bold; padding-bottom:10px; }
.main-nav .nav-links-2 a { font-size: 14px; color: rgb(131, 127, 127); }
.main-nav a:hover { color: #535353; } 
.button-1{
    padding: 0px 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    border:none;
    box-shadow: 0px 0px 5px #888888;
    margin-left: 1164px;
    margin-top: 250px;
    position: fixed;
}
.fix-btn{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.fix-btn-1{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-left: 70px;
}
.button-2{
    padding: 15px 22px;
    background-color: #ff3456;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin-left: 1164px;
    margin-top: 300px;
    position: fixed;    
}
.button-2:hover{
    background-color: #eb3150;
}
.fa-bag-shopping{
    font-size: 24px;
}
#home-1{
    background-color: #F1F1FE;
    padding-top: 100px;
    padding-bottom: 150px;
    font-family: "Open Sans", sans-serif;
}
.pic-R{
    float: right;
    margin-right: 60px;
}
.img-R{
    width: 500px;
    margin-top: -200px;

}
.block-1 h1{
    font-size: 70px;
    color: #000000;
    padding-left: 100px;
    margin-top: 100px;
}
.block-1 p{
    font-size: 22px;
    padding-left: 100px; 
    color: #888888;
    line-height: 1.5;
    margin-top: -20px;

}
.button-3{
    padding: 25px 30px;
    font-size: 16px;
    border-radius:40px;
    margin-top: 30px;
    margin-left: 100px;
    border: none;
    background-color: #575AE0;
    color: #ffffff;
    font-weight: 600;
}
.button-3:hover{
    background-color: #FF7182;
    color: #ffffff;
    font-weight: 600;
}
#home-2{
   font-family: "Open Sans", sans-serif;  
}
.card-0{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.card-1{
    margin: 150px 40px;
}
.card-1 h4{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.card-1 p{
    color: rgb(139, 138, 138);
    font-size: 18px;
    line-height: 1.5;
    margin-top: -20px; 
}
.img-C-2{
    padding-top: 10px;
}
#home-3{
  font-family: "Open Sans", sans-serif;    
}
.bg-wave-1{
    background-image: url(/Main-Project/Assets/section-background-1.jpeg);
    width: 1340px;
    height: 1325px; 
    margin-top: -530px;
}
.pic-L{
    float: left;
    position: absolute;
    margin-left: 150px;
    margin-top: -650px;
}
.img-L{
    width: 530px;
}
.heading-0{
    font-size: 40px;
    color: #000000;
}
.fa-circle-check{
    color:#FB7081;
    font-size: 30px;
}
.para-1 h4{
    font-size: 22px;
}
.para-1 p{
    font-size: 18px;
    color: rgb(139, 138, 138);
    line-height: 1.8;
}
.para-0{
  position: absolute;
  margin-left: 700px;
  margin-top:-820px ;    
}
#home-4{
    background-image: url(/Main-Project/Assets/section-background-2.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}
.block-4{
  font-family: "Open Sans", sans-serif; 
}
.block-4 h1{
    font-size: 50px;
    text-align: center;
}
.block-4 .pa-1{
    font-size: 21px;
    text-align: center;
    color: #888888;
    line-height: 1.5;
}
.card-2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.card-3{
    background-color: #ffffff;
    margin-right:20px ;
    border-radius: 5px;
}
.cd-img{
    width: 250px;
}
.card-3 h4{
    font-size: 20px;
    padding-left: 15px;
}
.card-3 p{
    padding-left: 15px;
    font-size: 18px;
    color: #b3b1b1;
    line-height: 1.9;
    margin-top: -20px;
    padding-bottom: 20px;
    font-weight: 500;
}
#home-5{
    padding-top: 150px;
    padding-bottom: 150px;    
}
.Rigth-side{
    float: right;
    margin-right: 100px;
}
.img5-R{
    width: 550px;
}

.fa-circle-play{
    font-size: 120px;
    color: #FF7182;
    position: absolute;
    margin-left: 890px;
    margin-top: 150px;
}
.fa-circle-play:hover{
    font-size: 120px;
    color: #575AE0;
}


