 body {
    background-color: #e4e2e2;
      font-family: Arial, sans-serif;
      margin: 0px;
      padding: 60px;
      line-height: 1.6;
      border: 20px;
    }

    header {
      background-color: #333;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
    }

    section {
      padding: 20px;
    }

    table {
      width: 65%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    progress {
      width: 80%;
    }

    figure {
      margin: 10px;
      display: inline-block;
    }

    figcaption {
      text-align: center;
      font-size: 24px;
    }

    footer {
      background-color:lightgoldenrodyellow;
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }