body{
     font-family: sans-serif;
     background: lightcyan;
     padding: 20px;
    text-align: center;
 }
 /* fade-in and slide-up card*/
 .fade-card{
    opacity: 0;
    transform: translateY(50px);
    animation: fadeslideup 1s ease forwards;
    animation-delay: 0.5s;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px orange;
    width: 300px;
    margin: 20px auto;
 }
 @keyframes fadeslideup{
    to{
        opacity: 1;
        transform: translateY(0);
    }
 }
 /* color pulse button*/
 .button-group{
    margin: 80px 0;
 }
 .pulse-btn{
    padding:10px 30px;
    margin: 10px;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
 }
 .red{
    background-color: #e74c3c;
 }
 .green{
    background-color: #2ecc71;
 }
 .blue{
    background-color: #3498db;
 }
 .red:hover{
    background-color: black;
 }
 .green:hover{
    background-color: orange;
 }
 .blue:hover{
    background-color: olive;
 }
 /* spinner on hover button*/
 .spinner-btn{
   position: relative;
   padding: 15px 40px;
   background: #555;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   margin: 20px auto;
   display: inline-block;
   cursor: pointer;
 }
 .spinner{
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 16px;
   height: 16px;
   border: 2px solid whitesmoke;
   border-top: 2px solid transparent;
   border-radius: 50%;
   animation: spin 1s linear infinite;
   opacity: 0;
   transition: opacity 0.3s ease;
}
 .spinner-btn:hover .spinner{
   opacity: 1;
 }
 @keyframes spin{
    to{
      transform: rotate(-180deg);
    }
 }
 /*card flip */
 .flip-card{
   width: 300px;
   height: 200px;
   margin: 40px auto;
   perspective: 1000px;
 }
.flip-inner{
   width: 100%;
   height: 100%;
   position: relative;
   transform-style: preserve-3d;
   animation: flip 4s infinite linear;
}
.flip-front, .flip-back{
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   border-radius: 10px;
   border: 1px solid#ccc;
   box-shadow: 0 6px 10px grey;
}
.flip-front{
   background: white;
}
.flip-back{
   background: #dcdcdc;
   transform: rotateY(180deg);
}
@keyframes flip{
   0%{
      transform: rotateY(0deg);
   }
   50%{
      transform: rotateY(180deg);
   }
   100%{
      transform: rotateY(360deg);
   }
}