
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #1e3c72;
  color: #ffffff;
}
header {
  padding: 20px;
  text-align: center;
  background-color: #000000;
}
header h1 {
  font-size: 28px;
}
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.search-box input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.search-box button {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #00aaff;
  color: #000000;
}
.search-box button:hover{
  background-color: aqua;
  color: #000000;
}
#results {
  display: grid;
  gap: 15px;
}
.repo {
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}
.repo a {
  color: #0066cc;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.repo p {
  margin-top: 6px;
  font-size: 14px;
}
.bottom-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.bottom-button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.bottom-button button:hover{
  background-color: aqua;
  color: #000000;
}

.bottom-button button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
footer {
  margin-top: 264px;
  padding: 20px;
  text-align: center;
  background-color: #000000;
  font-size: 14px;
}
