.icon-row {

  display: flex;
  padding: 200px;
  gap: 40px;
  font-size: 80px;
  margin: 10px;
  justify-content: center;
  background-color: lightgrey;
  color: black;
}

/* Fade In */
@keyframes fadeIn {
  from { opacity: 0;
    }
  to { opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

/* Fade Out */
@keyframes fadeOut {
  from { opacity: 1;
   }
  to { opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

/* Zoom In */
@keyframes zoomIn {
  from { transform: scale(0.5);
          opacity: 0;
     }
  to { transform: scale(1);
     opacity: 1;
 }
}
.zoom-in {
  animation: zoomIn 1s ease-in forwards;
}

/* Zoom Out */
@keyframes zoomOut {
  from { transform: scale(1); 
    opacity: 1;
 }
  to { transform: scale(0.5); 
    opacity: 0; 
  }
}
.zoom-out {
  animation: zoomOut 1s ease-out forwards;
}

/* Bounce In */
@keyframes bounceIn {
  0% { transform: scale(0.3);
     opacity: 0; 
    }
  50% { transform: scale(1.05); 
    opacity: 1;
   }
  70% { transform: scale(0.9);
    }
  100% { transform: scale(1);
     }
}
.bounce-in {
  animation: bounceIn 1s ease forwards;
}

/* Bounce Out */
@keyframes bounceOut {
  0% { transform: scale(1);
     opacity: 1;
     }
  20% { transform: scale(0.9);
    }
  50% { transform: scale(1.1); 
    opacity: 1; 
   }
  100% { transform: scale(0.3);
     opacity: 0;
     }
}
.bounce-out {
  animation: bounceOut 1s ease forwards;
}